<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../../../../partials/head %>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">

<header>
    <% include ../../../../partials/header %>
</header>

<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
               <a href="/dashboard/">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
            <% for(let i=0; i<departments.length; i++){
                if(intent.department == departments[i]._id){%>
                <a href="/department/<%=intent.department%>"><%=departments[i].friendlyName%></a>
            <%}}%>
            </li>
            <li class="breadcrumb-item">
                <a href="/department/intents">Intents</a>
            </li>
            <li class="breadcrumb-item active">
                <%=intent.name%>
            </li>
        </ol>
      
      <div class="row">
        <div class="col-12">
          <h1 class="ml-auto"><%=intent.name%>
            <span class="btn-right">
              <button id="statusBtn" onclick="toggleDisabled()" class="btn btn-checkbox-toggle"> Enable/Disable</button>
              <button class="btn btn-danger" data-toggle="modal" data-target=".bd-delete-modal">Delete</button>
            </span>
          </h1>
          <div class="clear-both"></div>
          <div class="">
            <form action="../../department/intents/<%=intent._id%>" method="post">
              <div class="form-group">
                <label for="intent-name">Intent Name</label>
                <input type="text" class="form-control" value="<%=intent.name%>" ng-model="name" ng-init="name='<%=intent.name%>'" name="name" placeholder="<%=intent.name%>">
              </div>
              <div class="form-group">
                <label for="intent-description">Associated Department</label>
                  <select class="form-control" name="department">
                    <% for(let i=0; i<departments.length; i++){
                        if(intent.department == departments[i]._id){ %>
                        <option selected value="<%=departments[i]._id%>">
                            <%=departments[i].friendlyName%>
                        </option>
                    <% }else if(perm.wizard==true){%>
                        <option value="<%=departments[i]._id%>">
                            <%=departments[i].friendlyName%>
                        </option>
                    <%}}%>
                  </select>
              </div>
              <div class="form-group">
                <label for="intent-utterance">New Utterance</label>
                <input type="text" class="form-control" id="intent-utterance" placeholder="Please enter a new utterance and press enter" value="" name="newUtt">
              </div>

              <table class="table">
                <thead>
                  <tr>
                    <th>Utterance</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(let i=0; i<utterance.length; i++){ 
                    if(utterance[i].intentLabel == intent.name){%>
                    <tr>
                      <td><div class="input-group"><input type="text" class="form-control inputUtt" placeholder="<%=utterance[i].text%>" value="<%=utterance[i].text%>"><div class="input-group-append"><button class="btn btn-outline-info" onclick="updateUtt('<%=utterance[i].id%>')">Update</button> <button class="btn btn-outline-danger" onclick="deleteUtt('<%=utterance[i].id%>')">Delete</button></div></div></td>
                    </tr>
                  <%}}%>
                  
                </tbody>
              </table>
              <div class="form-group">
                <label for="intent-answer">Bot Answer</label>
                <textarea rows="1" class="form-control" name="answer" placeholder="<%=intent.answer%>" value="<%=intent.answer%>"><%=intent.answer%></textarea>
              </div>
              <div class="form-group">
                <input readonly type="hidden" class="form-control" name="id" value="<%=intent._id%>">
                <input readonly type="hidden" class="form-control" name="disabled" value="<%=intent.disabled%>">
              </div>
              <div class="form-group">
                <input id="save" type="submit" value="Save Changes" class="btn btn-primary">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->

<% include ../../../../partials/footer %>
<script>
    let intentState = document.getElementsByName('disabled')[0],
    bool = strToBool(intentState.value),
    newUtt = document.getElementById('intent-utterance')
    disabledStatus(bool)

  var utt = document.getElementByName('newUtt')[0].value, 
		intentname = document.getElementByName('name')[0].value,
    url = 'https://westus.api.cognitive.microsoft.com/luis/api/v2.0/apps/89b3e679-1506-4e5d-85bf-8afd5c81b702/versions/0.1/examples'

var xhr = new XMLHttpRequest();
xhr.open("POST", url, true);

//Send the proper header information along with the request
xhr.setRequestHeader("Content-type", "application/json");
xmlhttp.setRequestHeader("Ocp-Apim-Subscription-Key"," fc069d5a824d4f98b3e995df1ddbcde9")
xhr.onreadystatechange = function() {//Call a function when the state changes.
    if(xhr.readyState == XMLHttpRequest.DONE && xhr.status == 200) {
        // Request finished. Do processing here.
    }
}
xhr.send({'text':utt,'intentName':intentname});

  function toggleDisabled(){
    bool = !bool;
    intentState.value=bool
    disabledStatus(bool)
  }
  function disabledStatus(bool){
    let disabledBtn = document.getElementById('statusBtn')
    if(bool===false){
      disabledBtn.title="Intent is enabled"
      disabledBtn.innerHTML="<i class='fa fa-check text-success'></i> Enabled!!"
      disabledBtn.classList.remove('btn-secondary')
      disabledBtn.classList.add('btn-info')
    }else if(bool===true){
      disabledBtn.title="intent is disabled"
      disabledBtn.innerHTML="<i class='fa fa-times text-danger'></i> Disabled!!"
      disabledBtn.classList.remove('btn-info')
      disabledBtn.classList.add('btn-secondary')
    }
  }
  function strToBool(str){
    if (str === "false"){
      return str = false
    }else{
      return str = true
    }
  }
</script>

</body>
</html>
