<%//Department Index.ejs 
%>
<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../../partials/head %>
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">

<header>
  <% include ../../partials/header %>
</header>

<div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Dashboard</a>
        </li>
        <li class="breadcrumb-item active"><%=data.friendlyName%></li>
      </ol>
      <div class="row">
        <div class="col-12">
          <h1><%=data.friendlyName%>
          <% if(user.perm.admin == true ||user.perm.wizard == true ){ %>
            <span class="btn-right">
              <button id="editBtn" title="" class="btn btn-md btn-info"><i id="train-status" class="fa "></i> Edit </button>
            </span>
          <% } %>
          </h1>
          <p id="deptInfo">Here you can view the details for the departments bot.</p>
        </div>
        <div class="container-fluid col-12">
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="botName">Bot Name</label>
                <% if(data.botName ===''){var botName = 'No bot created yet...',botNameValue=''}else{botName=botNameValue=data.botName}%>
                <input readonly type="text" class="form-control-plaintext" id="botName" name="botName" value="<%=botNameValue%>" placeholder="<%=botName%>">
              </div>
              <div class="form-group col-md-5">
                <label for="confluence">Confluence</label>
                <% if(data.confluence ===''){var confluence = 'No confluence space assigend...',confluenceValue=''}else{confluence=confluenceValue=data.confluence}%>
                <input  readonly type="text" class="form-control-plaintext" id="confluence" name="confluence" value="<%=confluenceValue%>" placeholder="<%=confluence%>">
              </div>
              <div class="form-group col-md-3">
                <label for="luisState">LUIS Production State</label>
                <% if(data.luisState ===''){var luisState = 'Unpublished', luisValue=''}else{luisState=luisValue=data.luisState}%>
                <input readonly type="text" class="form-control-plaintext" id="luisState" name="luisState" value="<%=luisValue%>" placeholder="<%=luisState%>">
              </div>
            </div>    
        </div>
        <div class="container-fluid">
          <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Intents</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-team-tab" data-toggle="pill" href="#pills-team" role="tab" aria-controls="pills-team" aria-selected="false">Team</a>
            </li>
            <li class="nav-item display-none">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Logs</a>
            </li>
          </ul>
          <div class="container-fluid">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                 <div class="col-12">
                    <h1>Intents
                        <span class="btn-right">
                            <button type="button" data-toggle="modal" data-target=".bd-example-modal-lg" class="btn btn-md btn-success">Add Intent</button>
                        </span>
                    </h1>
                    <p>This is you can view existing questions the bot can answer, update them or create new ones.</p>
                </div>
                <div class="col-12">

                    <table id="tiTable" class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Department</th>
                                <th scope="col">Updated</th>
                                <th scope="col">Status</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody id="intentList">
                            <% for(i=0; i< intents.length; i++) { 
                                if(intents[i].department == user.department){ %>
                                                                <tr>
                            <% let id = intents[i]._id.toString(),
                                  disabled;
                              if (intents[i].diasbled == "true") {disabled = 'Disabled'} else { disabled = 'Enabled'}
                              let count = i+1;
                              let b = intents[i].updated.split(/\D+/),
                                  c = intents[i].created.split(/\D+/),
                                  updated = new Date(Date.UTC(b[0], --b[1], b[2], b[3], b[4], b[5], b[6])),
                                  created = new Date(Date.UTC(b[0], --c[1], c[2], c[3], c[4], c[5], c[6]))

                              %>
                              
                              <th scope='row'><%=count%></th>
                              <td><%= intents[i].name %></td>
                              <td><%= data.friendlyName %></td>
                              <td><%= updated%></td>
                              <td><%=disabled %></td>
                              <td><a class="btn btn-primary" href="/department/intents/<%= id %>">View</a> <span class="btn-right"><button class="btn btn-danger" onclick="deleteintent('<%= id %>')">Delete</button></span></td>
                              </tr>
                            <% }} %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-team" role="tabpanel" aria-labelledby="pills-team-tab">
              <% if(user.perm.admin == true || user.perm.wizard == true){ %>
              <p>So <%=user.name%> I see you want to <a class="btn btn-success" title="You smart, click here to sort this team out" href="/department/users/">Manage the Team</a> I think you know what to do ;)</p>
              <% }else{ %>
              <p>Hey <%=user.name%>, See your team below </p>
              <% } %>
              <table id="tiTable" class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Created</th>
                        <th scope="col">Admin</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">3</th>
                        <td>Stuart Young</td>
                        <td>05/03/2018 12:59</td>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <th scope="row">1</th>
                        <td>Larry James</td>
                        <td>05/03/2018 12:59</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Harry Potter</td>
                        <td>05/03/2018 12:59</td>
                        <td>No</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>The Wizard</td>
                        <td>05/03/2018 12:59</td>
                        <td>Yes</td>
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
              <table id="tiTable" class="table table-hover">
                <thead>
                  <tr>
                                <th scope="col">#</th>
                                <th scope="col">Created</th>
                                <th scope="col">Type</th>
                                <th scope="col">Info</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>05/03/2018 12:59</td>
                                <td>User Created</td>
                                <td>User Tom Banks Created by Stuart Young</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>10/03/2018 11:59</td>
                                <td>User Updated</td>
                                <td>User Tom Banks Updated by Stuart Young</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>15/03/2018 14:59</td>
                                <td>Intent Created</td>
                                <td>
                                    <a href="#">Office Intent</a> Created by Tom Banks
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <% include ./intents/add %>
            </div>
        </div>
    </div>
    <!-- /.container-fluid-->
    <!-- /.content-wrapper-->
<% include ../../partials/footer %>


</body>
</html>
